<html>
<head>
    <title> Login</title>
    <style>
        h2{
            color:darkgreen;
            text-align: center;
            font-size:20px;
            font-family: "Comic Sans MS";
        }
    </style>
</head>
<body>
    <h2> Welcome <%= userName %></h2>

</body>
</html>
